body {
    font-family: 'Nunito', sans-serif;
    margin: auto;
}

header {
    padding: 1rem;
    margin: auto;
    background-color: grey;
    border-bottom: 3px solid rgb(230, 230, 230);
    overflow: hidden;
}

.navbar {
    width: 85%!important;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.navlink {
    color: rgb(230, 230, 230);
    text-decoration: none;
    font-weight: bold;
    font-variant: small-caps;
}

.navlink:hover {
    transform: scale(1.1);
}

.dropdown-content {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: rgb(230, 230, 230);
    font-size: 11px;
    padding: 3px 11px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    transform: scale(1.1);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    transform: scale(1.1);
}

main {
    width: 90%;
    margin: auto;
    text-align: left!important;
}

hr {
    margin-top: 30px;
    width: 100%!important;
}

p {
    font-size: 14px;
}

h1 {
    font-size: 25px;
    text-align: center;
    color: grey;
    font-variant: small-caps;
    text-decoration: none!important;
    /* text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-position: under; */
}

.add-btn {
    width: 350px;
    height: auto;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.add-btn a {
    text-decoration: none;
    padding: 3px 10px;
    color: rgb(230, 230, 230);
    background-color: grey;
    font-variant: small-caps;
}

.add-btn a:hover {
    transform: scale(1.1);
}

/*.close {
    position: absolute;
    top: 1px;
    right: 10px;
    transition: all 200ms;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup {
    margin: auto;
    padding: 15px 10px;
    top: 1px;
    left: 1px;
    background-color: rgb(255, 147, 147);
    border: red 1px solid;
    box-shadow: 0px 8px 16px 0px rgba(255, 1, 1, 0.2);
    z-index: 1;
    border-radius: 5px;
    width: 200px;
    position: absolute;
    transition: all 5s ease-in-out;
  }*/


h2 {
    font-size: 20px;
    color: grey;
    font-variant: small-caps;
}

form {
    width: 250px;
    height: auto;
    margin: auto;
    padding: 10px 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.input {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 180px;
}

.submit {
    display: flex;
    justify-content: center;
    margin: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 10px;
}

footer {
    margin: auto;
    background-color: grey;
    border-top: 3px solid rgb(230, 230, 230);
    overflow: hidden;
}

.footer {
    display: flex;
    justify-content: center;
}

footer p {
    color: rgb(230, 230, 230);
    text-decoration: none;
    margin: 5px;
    font-size: smaller;
    font-weight: bold;
}

footer p:hover {
    transform: scale(1.1);
}